:root {
    --primary-color: #004dda;
    --dark: #5a5a5f;
    --light: #fff;
    --grey: #c4c4c4;
    --default-pad: 2.5rem;
    --medium-pad: calc(var(--default-pad) / 2);
    --small-pad: calc(var(--medium-pad) / 2);
}

html {
    height: 100%;
}

html,
body {
    margin: 0;
}

body {
    font-family: Poppins, sans-serif;
    color: var(--dark);
    display: flex;
    background-color: var(--grey);
    min-height: 100%;
}

.topnav_menu,
.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menus {

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    padding: var(--default-pad);
}


.main_nav {
    padding: var(--medium-pad) 0 0;
    display: flex;
    flex-direction: column;
    background-color: var(--light);
}

.main_nav>a {
    padding: var(--default-pad);
    width: 149px;
    height: 36px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500px;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    text-decoration: none;
}

.main_content {
    background-color: #f2f2f8;
    flex-grow: 1;
}


.top_nav {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--medium-pad) var(--default-pad);
}

.topnav_menu li {
    display: inline-block;
    list-style: none;
}

main {
    padding: var(--default-pad);
    display: flex;
    flex-direction: column;
    gap: var(--default-pad)
}

.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--medium-pad);
    background-color: var(--light);
}

.separate {
    width: 1px;
    border-left: 2px solid var(--grey);
    align-self: stretch;
}

img {
    width: 100%;
}

.btn {
    background-color: var(--primary-color);
    color: var(--light);
    text-decoration: none;
    border-radius: 5px;
    padding: var(--small-pad) var(--medium-pad);
}

.charts {
    display: flex;
    gap: var(--default-pad)
}

.chart {
    flex-grow: 1;
}




.number {
    color: var(--primary-color);
    font-weight: 600;
    padding: 0 .5rem;
}

.menus .menu:first-child {
    border-bottom: 1px solid var(--grey);
}

.menus .menu:last-child {
    position: fixed;
    left: var(--small-pad);
    bottom: var(--medium-pad)
}

#dashboard-button img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    text-decoration: none;
}

#annouced-button img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

#preparation-button img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

#distributed-button img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

}

#sorted-button img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

}

#logout-button img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

#profile-button img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    vertical-align: middle;
    margin-left: 25px;
}

#profile-button {
    color: #5A5A5F;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    /* 150% */
    letter-spacing: 0.36px;
    text-decoration: none;
}

#settings-button img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    vertical-align: middle;
    margin-left: 25px;
}

#settings-button {
    color: #5A5A5F;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    /* 150% */
    letter-spacing: 0.36px;
    text-decoration: none;

}